entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[workflows]
runButton = "Bot Auto-Restart"

[[workflows.workflow]]
name = "Run"
author = 41381522
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[workflows.workflow]]
name = "Bot Auto-Restart"
author = 42527946
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node process-manager.js"

[[workflows.workflow]]
name = "Dashboard"
author = 42527946
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node dashboard/server.js"

[[workflows.workflow]]
name = "session secret "
mode = "sequential"
author = 42527946

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node scc.js"

[[ports]]
localPort = 5000
externalPort = 80
